spring:
  application:
    name: masil-be

  profiles:
    default: local

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

        # PostgreSQL 쌍따옴표 강제 (예약어/대소문자 보호)
        globally_quoted_identifiers: true

        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace