spring:
  application:
    name: masil-be

  profiles:
    default: local

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

        # PostgreSQL 쌍따옴표 강제 (예약어/대소문자 보호)
        globally_quoted_identifiers: true

        format_sql: true

# JWT 설정
jwt:
  secret-key: ${JWT_SECRET_KEY}
  access-token-expiration: ${JWT_ACCESS_TOKEN_EXPIRATION}
  refresh-token-expiration: ${JWT_REFRESH_TOKEN_EXPIRATION}

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS}

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace